@import '../../assets/styles/_fonts.module.scss';
@import '../../assets/styles/_variables.module.scss';

.container {
  text-align: center;
  background-color: map-get($colors, orange);
  padding: 20px;
  width: 50vw;
  box-shadow: map-get($shadows, module);
}

.header {
  font-family: 'Lobster', cursive;
  font-size: map-get($font-size, logo);
  color: map-get($colors, white);
  text-shadow: map-get($shadows, header);
  margin: 20px;
}

.headerInfo {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.navButtons {
  margin: 20px 0;
  display: flex;
  justify-content: space-evenly;
}
