@import '../../assets/styles/fonts.module';

.container {
  text-align: center;
  background-color: #e8a628;
  padding: 20px;
  width: 50vw;
  box-shadow: -5px 5px 0px #fe5e31;
  // font-family: Lobster;
}

.header {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  text-shadow: -3px 3px 2px #fe5e31;
  margin: 20px;
}

.headerInfo {
  color: #fe5e31;
  color: #000;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.navButtons {
  margin: 20px 0;
  display: flex;
  justify-content: space-evenly;
}
