body {
  background-color: #fff;
  /* background-color: #fed3a5; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 24px;
  color: white;
  /* background-image: url("./assets/clouds-background.jpg"); */
  /* background-size: cover; */
}
#root {
  margin-top: 40px;
}
.app-header {
  text-align: center;
  background-color: #e8a628;
  padding: 20px;
  width: 50vw;
  box-shadow: -5px 5px 0px #fe5e31;
  /* margin-top: 20px; */
  /* box-shadow: -5px 5px 5px #fe5e3199; */
}
.app-header__heading {
  font-family: 'Lobster', cursive;
  text-shadow: -3px 3px 2px #fe5e31;
  /* text-shadow: -3px 3px 2px rgba(0, 0, 0, 0.2); */
}
.app-header__nav__buttons {
  display: flex;
  justify-content: space-evenly;
}
.app-header__button {
  font-family: 'Open Sans', sans-serif;
  height: 30px;
  width: 120px;
  background-color: #fe5e31;
  border: none;
  color: white;
  box-shadow: -3px 3px 0px #fff;
  cursor: pointer;
  transition: 0.2s;
}
.app-header__button:active {
  transform: translate(-2px, 2px);
  box-shadow: 0px 0px 0px #fff;
}

.app-header__nav__heading-info {
  color: #fe5e31;
  color: #000;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.app-section-user-selection {
  /* margin-top: 2vh; */
  background-color: #72b8c9;
}
.userSelection {
  box-shadow: -5px 5px 0px #e8a628;
  margin-top: 40px;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* flex-basis: 200px; */
}
.userSelection__input {
  font-family: 'Open Sans', sans-serif;
  padding-left: 5px;
  font-weight: 400;
  border: none;
  padding: 0;
  width: 60%;
  height: 30px;
  box-shadow: inset -3px 3px #e8a628;
  text-align: center;
  /* box-shadow: inset -3px 3px #fe5e31; */
  /* background-color: #5b7c7d; */
  /* color: white; */
}
.userSelection__button {
  width: 60%;
  height: 30px;
  background-color: #fe5e31;
  color: white;
  border: none;
}

.userSelection__button {
  font-family: 'Open Sans', sans-serif;
  height: 30px;
  width: 120px;
  background-color: #e8a628;
  border: none;
  color: white;
  box-shadow: -3px 3px 0px #fff;
  cursor: pointer;
  transition: 0.2s;
}
.userSelection__button:active {
  transform: translate(-2px, 2px);
  box-shadow: 0px 0px 0px #fff;
}

.app-section-meals__meal {
  display: flex;

  color: black;
  text-align: center;
  background-color: #e8a628;
  padding: 20px;
  margin-top: 40px;
  width: 50vw;
  box-shadow: -5px 5px 0px #fe5e31;
}
.app-section-meals__meal__image {
  margin-right: 20px;
}
.app-section-meals__meal__image img {
  width: 100px;
  box-shadow: -5px 5px 0px #fe5e31;
}
.app-section-meals__meal__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  width: 100%;
  color: white;
  /* background-color: blue; */
}

.app-section-meals__meal__content__button {
  font-family: 'Open Sans', sans-serif;
  height: 30px;
  width: 120px;
  background-color: #fe5e31;
  border: none;
  color: white;
  box-shadow: -3px 3px 0px #fff;
  cursor: pointer;
  transition: 0.2s;
}
.app-section-meals__meal__content__button:active {
  transform: translate(-2px, 2px);
  box-shadow: 0px 0px 0px #fff;
}
